<div class="main">

  <div class="container">
    <div class="header">
      <img src="../../assets/images/logo-fit-new.png" class="image" />
    </div>

    <div class="content">
      <div class="main-content">
      <br>
        <div class="main-title">
          <p><b>WELCOME TO FITNUTS</b></p>
        </div>

        <p style="padding-bottom: 10px;">Find below your temporary password:</p>

        <p> User name: <b>email@email.com</b></p>
        <p>Temporary password: <b>XXXXXX</b></p>

        <button class="access" style="margin-top: 10px;">LOG IN</button>

        <br /><br />

        <p style="font-size: 12px;">Once you are logged in, <br>
        kindly navigate to Settings → personal settings → change your password.</p>
      </div>
    </div>
  </div>

</div>
