<div class="main">

    <div class="container">
      <div class="header">
          <img src="../../assets/images/logo-fit-new.png" class="image" />
      </div>
  
      <div class="content">
        <div class="main-content">
            <br>
              <div class="main-title">
                <p><b>EMAIL VERIFICATION</b></p>
              </div>      
              <p> Your code is: <b class="code">872562</b></p><br>
              <p class="verify-text">Please use the verification code below to verify <br>
                  that the email address</p>
            </div>
      </div>
    </div>
    <div class="footer">
        <p>We’re emailing you to confirm the accuracy of the email address
            connected to your Fitnuts account. Think this is a mistake?
             Please contact support@fitnuts.com</p>
      </div>
  
  </div>
  