* {
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: #ececec;
}

.container {
  height: 495px;
  width: 600px;
  background-color: white;
}

.header {
  height: 72px;
  width: 100%;
  display: flex;
  background-color: #529dff;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 30px;
}

.image {
  height: 52px;
  width: 190px;
}

/* .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 423px;
  width: 100%;
  background: white;
} */

.main-title {
  font-size: 26px;
  font-weight: extra-bold;
  margin-top: 70px;
  text-align: center;
}

.main-content {
  font-size: 16px;
  text-align: center;
  margin-top: -20px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 111px;
  width: 600px;
  margin-top: 62px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.tiny-text {
  text-align: center;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

.access {
  height: 40px;
  width: 272px;
  border-radius: 24px;
  color: white;
  background: #529dff;
  font-size: 16px;
  font-weight: semi-bold;
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    height: 800px;
    width: 100vw;
    background-color: #ececec;
  }

  .container {
    height: 520px;
    width: 600px;
    background-color: white;
  }

  .header {
    height: 72px;
    width: 100%;
    display: flex;
    background-color: #529dff;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 30px;
  }

  /* .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 423px;
    width: 100%;
    background: white;
  } */

  .main-title {
    font-size: 26px;
    font-weight: extra-bold;
    margin-top: 70px;
    text-align: center;
  }

  .main-content {
    font-size: 16px;
    text-align: center;
    margin-top: -20px;
  }

  .access {
    height: 40px;
    width: 272px;
    border-radius: 24px;
    color: white;
    background: #529dff;
    font-size: 16px;
    font-weight: semi-bold;
    border: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    height: 800px;
    width: 100vw;
    background-color: #ececec;
  }

  .container {
    height: 520px;
    width: 600px;
    background-color: white;
  }

  .header {
    height: 72px;
    width: 100%;
    display: flex;
    background-color: #529dff;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 30px;
  }

  /* .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 423px;
    width: 100%;
    background: white;
  } */

  .main-title {
    font-size: 26px;
    font-weight: extra-bold;
    margin-top: 70px;
    text-align: center;
  }

  .main-content {
    font-size: 16px;
    text-align: center;
    margin-top: -20px;
  }

  .access {
    height: 40px;
    width: 272px;
    border-radius: 24px;
    color: white;
    background: #529dff;
    font-size: 16px;
    font-weight: semi-bold;
    border: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    margin-top: 10px;
  }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    height: 800px;
    width: 100vw;
    background-color: #ececec;
  }

  .container {
    height: 520px;
    width: 600px;
    background-color: white;
  }

  .header {
    height: 72px;
    width: 100%;
    display: flex;
    background-color: #529dff;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 30px;
  }

  /* .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 423px;
    width: 100%;
    background: white;
  } */

  .main-title {
    font-size: 26px;
    font-weight: extra-bold;
    margin-top: 70px;
    text-align: center;
  }

  .main-content {
    font-size: 16px;
    text-align: center;
    margin-top: -20px;
  }

  .access {
    height: 40px;
    width: 272px;
    border-radius: 24px;
    color: white;
    background: #529dff;
    font-size: 16px;
    font-weight: semi-bold;
    border: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    margin-top: 10px;
  }
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    height: 800px;
    width: 100vw;
    background-color: #ececec;
  }

  .container {
    height: 520px;
    width: 600px;
    background-color: white;
  }

  .header {
    height: 72px;
    width: 100%;
    display: flex;
    background-color: #529dff;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 30px;
  }

  /* .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 423px;
    width: 100%;
    background: white;
  } */

  .main-title {
    font-size: 26px;
    font-weight: extra-bold;
    margin-top: 70px;
    text-align: center;
  }

  .main-content {
    font-size: 16px;
    text-align: center;
    margin-top: -20px;
  }

  .access {
    height: 40px;
    width: 272px;
    border-radius: 24px;
    color: white;
    background: #529dff;
    font-size: 16px;
    font-weight: semi-bold;
    border: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    margin-top: 10px;
  }
}

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    height: 800px;
    width: 100vw;
    background-color: #ececec;
  }

  .container {
    height: 520px;
    width: 600px;
    background-color: white;
  }

  .header {
    height: 72px;
    width: 100%;
    display: flex;
    background-color: #529dff;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 30px;
  }

  /* .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 423px;
    width: 100%;
    background: white;
  } */

  .main-title {
    font-size: 26px;
    font-weight: extra-bold;
    margin-top: 70px;
    text-align: center;
  }

  .main-content {
    font-size: 16px;
    text-align: center;
    margin-top: -20px;
  }

  .access {
    height: 40px;
    width: 272px;
    border-radius: 24px;
    color: white;
    background: #529dff;
    font-size: 16px;
    font-weight: semi-bold;
    border: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    margin-top: 10px;
  }
}

/* desktop :2600px. */
@media (min-width: 1500px) and (max-width: 2600px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    height: 800px;
    width: 100vw;
    background-color: #ececec;
  }

  .container {
    height: 520px;
    width: 600px;
    background-color: white;
  }

  .header {
    height: 72px;
    width: 100%;
    display: flex;
    background-color: #529dff;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 30px;
  }

  .main-title {
    font-size: 26px;
    font-weight: extra-bold;
    margin-top: 70px;
    text-align: center;
  }

  .main-content {
    font-size: 16px;
    text-align: center;
    margin-top: -20px;
  }

  .access {
    height: 40px;
    width: 272px;
    border-radius: 24px;
    color: white;
    background: #529dff;
    font-size: 16px;
    font-weight: semi-bold;
    border: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    margin-top: 10px;
  }
}
