* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #ececec;
  }
  
  .container {
    /* height: 495px; */
    width: 620px;
    background-color: #ffffff;
  }
  
  .header {
    height: 63px;
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 30px;
  }
  
  .image {
    height: 52px;
    width: 190px;
  }
  
  .main-title {
    font-size: 26px;
    font-weight: extra-bold;
    text-align: center;
    height: 63px;
    width: 620px;
    /* margin-top: 20px; */
  }
  
  .main-content {
    height: 450px;
    width: 620px;
    font-size: 16px;
    text-align: center;
    /* margin-top: -20px; */
    background-color: #f9f9f9;
  }
  
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 111px;
    width: 600px;
    margin-top: 62px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }
  
  .tiny-text {
    text-align: center;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
  }
  
  .access {
    height: 44px;
    width: 181px;
    border-radius: 24px;
    color: white;
    background: #529dff;
    font-size: 16px;
    font-weight: semi-bold;
    border: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
  }
  
  .footer {
    font-size: 10px;
    text-align: center;
  }
  
  .text-field {
    padding-bottom: 10px; 
    margin-top: 30px;
  }
  
  @media only screen and (min-width: 360px) and (max-width: 480px) {
    .main {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Poppins", sans-serif;
      height: 100vh;
      width: 100vw;
      background-color: #ececec;
    }
  
    .container {
      /* height: 495px; */
      width: 320px;
      background-color: #ffffff;
    }
  
    .header {
      height: 63px;
      width: 320px;
      display: flex;
      background-color: white;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: white;
      font-size: 30px;
    }
  
    .image {
      height: 52px;
      width: 130px;
    }
  
    .main-title {
      font-size: 26px;
      font-weight: extra-bold;
      text-align: center;
      height: 63px;
      width: 220px;
      margin-left: 50px;
    }
  
  
    .main-content {
      height: 392px;
      width: 320px;
      font-size: 16px;
      text-align: center;
      /* margin-top: -20px; */
      background-color: #f9f9f9;
    }
  
    .socials {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 111px;
      width: 600px;
      margin-top: 62px;
      font-size: 16px;
      font-family: "Poppins", sans-serif;
    }
  
    .tiny-text {
      text-align: center;
      font-size: 10px;
      font-family: "Poppins", sans-serif;
    }
  
    .access {
      height: 44px;
      width: 181px;
      border-radius: 24px;
      color: white;
      background: #529dff;
      font-size: 16px;
      font-weight: semi-bold;
      border: none;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
    }
  
    .footer {
      font-size: 10px;
      text-align: center;
    }
    
    .text-field {
      padding-bottom: 10px; 
      margin-top: 30px;
    }
  }
  
  @media only screen and (min-width: 320px) and (max-width: 360px) {
     .main {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Poppins", sans-serif;
      height: 100vh;
      width: 100vw;
      background-color: #ececec;
    }
  
    .container {
      width: 320px;
      background-color: #ffffff;
      margin: 0 10px;
    }
  
    .header {
      height: 63px;
      width: 320px;
      display: flex;
      background-color: white;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: white;
      font-size: 30px;
    }
  
    .image {
      height: 52px;
      width: 130px;
    }
  
    .main-title {
      font-size: 23px;
      font-weight: extra-bold;
      text-align: center;
      height: 63px;
      width: 220px;
      margin-left: 50px;
    }
  
  
    .main-content {
      height: 490px;
      width: 320px;
      font-size: 16px;
      text-align: center;
      /* margin-top: -20px; */
      background-color: #f9f9f9;
    }
  
    .socials {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 111px;
      width: 600px;
      margin-top: 62px;
      font-size: 16px;
      font-family: "Poppins", sans-serif;
    }
  
    .tiny-text {
      text-align: center;
      font-size: 10px;
      font-family: "Poppins", sans-serif;
    }
  
    .access {
      height: 44px;
      width: 181px;
      border-radius: 24px;
      color: white;
      background: #529dff;
      font-size: 16px;
      font-weight: semi-bold;
      border: none;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
    }
  
    .footer {
      font-size: 12px;
      text-align: center;
      word-spacing: 3px;
      font-weight: 100;
    }
    
    .text-field {
      /* padding-bottom: 10px;  */
      margin-top: 30px;
    }

    .log-text {
        padding-top: -50px;
    }
  }
  