<div class="main">

    <div class="container">
        <div class="header">
            <img src="../../assets/images/logo-fit-new.png" class="image" />
        </div>

        <div class="content">
            <div class="main-content">
                <br>
                <div class="main-title">
                    <p><b>WELCOME TO FITNUTS' FAMILY</b></p>
                </div>
                <div class="text-field">
                    <p>We are glad that you’re starting your well-being
                        journey with us!</p>

                    <p>Please feel free to reach out to us at
                        support@fitnuts.com</p>

                    <br>

                    <p class="log-text">Log into your account and start practicing self-
                        care, and don’t forget to share your journey with
                        us.</p>

                </div>


                <button class="access" style="margin-top: 30px;">LOG IN</button>
                <br /><br />
            </div>
        </div>
    </div>




</div>